<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav class="navbar bg-light mb-4">
        <div class="container-fluid">
          <a class="navbar-brand " href="#">
            Accueil
          </a>
        </div>
      </nav>
      <% if (locals.flash && locals.flash.error) { %>
      <div class="alert alert-danger" role="alert">
        <%= flash.error %>
      </div>
      <% } %>
</body>
</html>